body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
.exercise-btn:hover {
  color: #000;
  background-color: #ffd700 !important;
}
.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  /* right: 80px;
  transform: scale(1, 1); */
  transition: 0.3s all ease-in-out;
}

.right-arrow,
.left-arrow img {
  padding-left: 0;
  padding-right: 0;
}

/* .right-arrow {
  right: 140px;
} */

.right-arrow {
  padding-right: 0;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
  /* transform: scale(1.01, 1.01); */
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100% !important;
  padding-right: 0;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 0;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 700px;
  height: 900px;
  margin-top: -330px;
}

.exercise-card {
  width: 350px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #ff2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  width: 270px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #000 !important;
  border: 2px solid #1976d2 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  .react-horizontal-scrolling-menu--scroll-container {
    width: 100%;
  }
  .left-arrow,
  .right-arrow {
    position: relative !important;
  }

  .hero-banner-img {
    width: 530px;
    height: 580px;
    top: 175px;
  }

  .exercise-card {
    width: 300px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 1010px) {
  .hero-banner-img {
    width: 500px;
    height: 560px;
    top: 175px;
  }
}
@media screen and (max-width: 966px) {
  .hero-banner-img {
    width: 430px;
    height: 550px;
    top: 175px;
  }
}

@media screen and (max-width: 906px) {
  .hero-banner-img {
    width: 380px;
    height: 520px;
    top: 175px;
  }
}

@media screen and (max-width: 843px) {
  .hero-banner-img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}

@media screen and (max-width: 500px) {
  .exercise-card {
    width: 280px;
  }
}
